h1 {
    margin-left: 690px;
    background: linear-gradient(blue, cyan, plum, pink) 1px;
    margin-right: 800px;
    padding-left: 4px;
    color: white;
    
}
body{ 
    background-image: url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.contact {
    margin-left: 600px;
    color: white;
}

.intro{ 
    margin-left: 50px;
    margin-right: 1300px;
    color: white;
    
}

.experience{
    margin-left: 50px;
    margin-right:1300px;
    color: white;
}

.education{
    margin-left: 1100px;
    margin-top: -350px;
    color: white;
}

.add{
    margin-left: 1100px;
    margin-top: 10px;
    color: white;
}

